<launch>
  <param name="/use_sim_time" value="false" />



  <param name="robot_description"
    textfile="$(find mycarto)/urdf/ranger_mini_v2.urdf" />

  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find mycarto)/configuration_files
          -configuration_basename backpack_2d_localization.lua
          -load_state_filename $(arg load_state_filename)"
      output="screen">
    <remap from="echoes" to="scan" />
    <remap from="imu" to="handsfree/imu" />
  </node>

  <!-- <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" /> -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="/home/arc/Downloads/902/902.yaml"/> -->

  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find mycarto)/configuration_files/dyp_ranger_2d.rviz" />

  <node pkg="tf" type="static_transform_publisher" name="robot_to_laser"
    args="0.05 0 0.0 0.0 0.0 0.0  /imu_link /base_link 200" />


</launch>